 @inherits Umbraco.Web.Mvc.UmbracoViewPage<List<UMF.Models.UMFGroupModel>>
 
 @foreach (var group in Model)
 {
    <div class="umf_group">
        <header>
            <h2>@group.name</h2>
        </header>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Umbraco.GetDictionaryValue("UMF_Name")</th>
                    <th>@Umbraco.GetDictionaryValue("UMF_Created")</th>
                    <th>@Umbraco.GetDictionaryValue("UMF_LatestDiscussion")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in group.Categorys)
                {
                    <tr>
                        <td>
                            <h4>
                                @if (category.hasAccess)
                                {
                                    <a href="@category.url">@category.name</a>
                                }
                                else
                                {
                                    <span>@category.name</span>
                                }
                            </h4>
                            <p>@category.number_of_discussion @Umbraco.GetDictionaryValue("UMF_Discussions"), @category.number_of_answers @Umbraco.GetDictionaryValue("UMF_Answers")</p>
                        </td>
                        <td>@category.created</td>
                        <td>
                            @if (null != category.latest_discussion)
                            {
                                if (category.hasAccess)
                                {
                                    <a href="@category.latest_discussion.url">@category.latest_discussion.name</a>
                                }
                                else
                                {
                                    <span>@category.latest_discussion.name</span>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
 }